{% load static %}
<!doctype html>
<html lang="en" class="no-js">

<head>
    <!-- cd-cart -->
    <script src="{{'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' }}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Gem jQuery -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{'http://fonts.googleapis.com/css?family=PT+Sans:400,700'}}" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Gem style -->
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <title>Rx Sight</title>
</head>

<body class="foo">
    <header>
        <div id="logo"><img src="{% static 'img/rx1.png' %}" alt="Homepage" height="80" width="80"></div>

        <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
        <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
    </header>

    <nav id="main-nav">
        <ul>
            <li><a class='current' href="/">Home</a></li>

        </ul>
    </nav>

    <main>
        <ul id="cd-gallery-items" class="cd-container">
            {% for ma in man %}
            <li>
                <img src="{{ma.img.url}}" alt="Preview image">
                <h3>{{ma.name}}</h3>
                <h3>{{ma.type}}</h3>
                <h3>{{ma.specialization}}</h3>
                <h3>{{ma.mode}}</h3>
                <h3>{{ma.cost}}</h3>
                <h3>{{ma.available}}</h3>
            </li>
            {% endfor %}
        </ul> <!-- cd-gallery-items -->
    </main>

    <div id="cd-shadow-layer"></div>
    <div id="cd-cart">
        <ul>
            <li>
                <h3>This is amazing</h3>
            </li>
        </ul>
    </div>
</body>

</html>